[Unit]
Description=helloworld go app

[Service]
WorkingDirectory=<path/to/go/executable/directory>
Type=simple
Restart=always
RestartSec=2s
ExecStart=<path/to/go/executable>

[Install]
WantedBy=multi-user.target
